<div style="display:grid; justify-content: center;">

<h1>Current Player: {{ player }}</h1>

<button (click) = "newGame()">Start New Game!!</button>
<br>
<main>
  <app-squarebox
  *ngFor = "let val of squares; let i = index"
  [value] = "val"
  (click) = "makeMove(i)"></app-squarebox>
</main>

<h2 *ngIf="winner">
  Player {{ winner }} won the Game!!
</h2>

</div>

